<div class="m-2">
  <div class="d-flex justify-content-evenly">
    <button class="btn btn-primary me-2 w-50" (click)="onDecrementClicked()">
      <i class="fa fa-minus" aria-hidden="true"></i><br />
      Decrement
    </button>

    <button class="btn btn-primary me-2 w-50" (click)="onIncrementClicked()">
      <i class="fa fa-plus" aria-hidden="true"></i><br />
      Increment
    </button>

    <button class="btn btn-primary w-50" (click)="onResetClicked()">
      <i class="fa fa-circle-o" aria-hidden="true"></i><br />
      Reset
    </button>
  </div>
</div>
